*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 0.9;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .container{
display: flex;
justify-content: center;
align-items: center;
height: 350px;
width: 350px;
max-width: 400px;
max-height: 400px;
background-image: linear-gradient(to top right,rgb(43, 76, 160),rgb(33, 146, 163));
border-radius: 15px;
box-shadow: 2px 0px  6px 5px rgba(26, 24, 24, 0.078);

}

.box div{
    display: flex;

}
.one-group{
    z-index: 2;
}
.one1, .one2{
    width: 40px;
    height: 150px;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 0px  6px 5px rgba(26, 24, 24, 0.078);
}
.zero1, .zero2{
    background-color: white;  
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0px  5px 5px rgba(26, 24, 24, 0.078);
    transform: translate(-5px,0);
    z-index: 1;
  

}
.zero2{
    transform: translate(-10px,0); 
    z-index: 0; 
}
.one1{
    transform: rotate(50deg) translate(5px,-8px);
    height: 80px;
    

}
.one2{
    z-index: 1;
}

.child{
    width: 65px;
    height: 65px;
    background-image: linear-gradient(to top right,rgb(50, 107, 171),rgb(22, 191, 217));
    border-radius: 50%;
}

h2{
    font-size: 150px;
    text-transform: uppercase;
}
h3{
    font-size: 50px;
    text-transform: uppercase;
    text-align: justify;
}